<ui win_theme="dark">
  <contentView background="blue"  opacity="0.4">
    <TextView text="Hello World" highlightOnTouch="true"/>
    <ImageView />
    <TextInput text="Hello World2" foo="bar" message="Hello World3"/>
    <Composite>
      <TextView/>
      <ImageView/>
    </Composite>
  </contentView>
  <drawer>
    <CollectionView/>
  </drawer>
</ui>
