<ui xmlns:import="import(./CustomWidget.xml, ./subdir/CustomWidget2.xml)" win_theme="dark">
  <contentView background="blue"  opacity="0.4">
    <TextView text="Hello World" highlightOnTouch="true"/>
    <ImageView />
    <TextInput text="Hello World2" foo="bar" message="Hello World3"/>
    <Composite id="foo">
      <TextView left='23' centerY='23' height='23'/>
      <ImageView/>
    </Composite>
  </contentView>
  <drawer>
    <CollectionView/>
    <import:CustomWidget highlightOnTouch="true"></import:CustomWidget>
    <import:CustomWidget2 opacity="0.3"></import:CustomWidget2>
  </drawer>
</ui>
